@import '../../styles/variables/variables.scss';

.mainContainer {
  @include viewPadding();
  display: flex;
  gap: 2rem;

  h3 {
    @include mainViewHeadings();
  }

  & > div {
    display: flex;

    &:nth-of-type(2) {
      flex: 1;
      flex-direction: column;
    }
  }
}
