@import '../../styles/variables/variables.scss';

.mainContainer {
  height: 100%;
  @include viewPadding();
  display: flex;
  gap: 2rem;
  background-color: $myTextBackgroundColor;

  h3 {
    @include mainViewHeadings();
  }

  & > div {
    &:nth-of-type(2) {
      flex: 1;
      display: flex;
      flex-direction: column;

      & > div {
        &:nth-of-type(3) {
          padding-top: 0.5rem;

          & span {
            display: inline-block;
            padding: $buttonXYPadding;
            text-align: center;
            color: #333333;
            background-color: rgb(235, 235, 235);

            &:hover {
              cursor: pointer;
              color: $lightFontColor;
              background-color: rgb(173, 173, 173);
            }
          }
        }
      }
    }
  }
}
