@import '../../styles/variables/variables.scss';

.layoutContainer {
  position: relative; // - position: relative to contain Modal (Modal used in MainView.js)
  height: $appHeight;
  display: flex;
  flex-direction: column;
}

header {
  height: 89px;
}

main {
  flex: 1;
}

h1 {
  padding: 0.75rem;
  font-size: $appHeadingFontSize;
  text-align: center;
}
