@import '../../styles/variables/variables.scss';

.instructionsContainer {
  @include viewPadding();
  height: 100%;
  background-color: $instructionsBackgroundColor;
  border-radius: 0 0 10px 10px;

  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 263px;
    padding: 1rem;
    background-color: white;
    overflow-y: auto;
    @include scrollbarStyle();

    h2 {
      @include viewHeading();
    }

    ol {
      flex: 1;

      & > div {
        padding-left: 1rem;

        li {
          padding-bottom: 0.75rem;
        }
      }
    }
  }
}
