@import '../../styles/variables/variables.scss';

.aboutContainer {
  height: 100%;
  @include viewPadding();
  background-color: $aboutBackgroundColor;
  border-radius: 0 0 10px 10px;

  div {
    min-height: 100%;
    padding: 1rem;
    background-color: #fefefe;

    h2 {
      @include viewHeading();
    }
  }
}
