@import '../../styles/variables/variables.scss';

.keyInputContainer {
  padding-bottom: 1rem;

  input,
  div {
    width: 80px;
    font-size: 16px;
    padding: 0.25rem 0.5rem;
  }

  & > div {
    display: flex;
    align-items: center;
    background-color: white;
    height: 30.5px;
  }
}
