@import '../../styles/variables/variables.scss';

.keyInputContainer {
  padding-bottom: 1rem;

  input {
    width: 80px;
    font-size: 16px;
    padding: 0.25rem 0.5rem;
  }

  p {
    @include errorMessageStyle();
  }
}
