@import '../../styles/variables/variables.scss';

.keyCollectionContainer {
  height: 100%;
  display: flex;
  flex-direction: column;

  ul {
    flex: 1;

    & > div {
      // - height is $appHeight - height of All Keys heading, to
      //   avoid contents overflowing app's maximum height.
      height: 228.5px;
      border: 1px solid #767676;
      overflow-y: auto;
      background-color: #ffffff;
      @include scrollbarStyle();
    }
  }
}

.keyItem {
  &:hover {
    cursor: pointer;
  }

  & span {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }

  &.selected {
    background-color: rgb(219, 238, 255);
  }
}
