@import '../../styles/variables/variables.scss';

.keyCollectionContainer {
  height: 100%;

  ul {
    & > div {
      height: 100%;
      max-height: 218.5px;
      border: 1px solid #767676;
      overflow-y: auto;
      background-color: #ffffff;

      @include scrollbarStyle();
    }
  }
}
