// ***********
// Variables
// ***********
// - Color
$myTextBackgroundColor: #c7d7d7;
$aboutBackgroundColor: #729c9b;
$instructionsBackgroundColor: #0b605e;

// - Font
$lightFontColor: #fefefe;
$globalFontFamily: Arial, Helvetica, sans-serif;
$appHeadingFontSize: 20px;
$viewHeadingFontSize: 18px;

// - Size
$appHeight: 400px;

// ***********
// Mixins
// ***********
@mixin viewPadding {
  padding: 1.5rem 1rem;
}

@mixin mainViewHeadings {
  font-size: 16px;
  padding-bottom: 1rem;
}

@mixin viewHeading {
  font-size: $viewHeadingFontSize;
  padding-bottom: 1rem;
}
