// ***********
// Variables
// ***********
// - Color
$myTextBackgroundColor: #c7d7d7;
$aboutBackgroundColor: #729c9b;
$instructionsBackgroundColor: #0b605e;
$warningLight: #ffbfbf;
$warningMed: #f43131;
$warningDark: #b73636;

// - Font
$lightFontColor: #fefefe;
$globalFontFamily: Arial, Helvetica, sans-serif;
$appHeadingFontSize: 20px;
$viewHeadingFontSize: 18px;

// - Size
$appHeight: 400px;

// - Spacing
$buttonXYPadding: 0.5rem 0.75rem;

// ***********
// Mixins
// ***********
@mixin viewPadding {
  padding: 1.5rem 1rem;
}

@mixin mainViewHeadings {
  font-size: 16px;
  padding-bottom: 1rem;
}

@mixin viewHeading {
  font-size: $viewHeadingFontSize;
  padding-bottom: 1rem;
}

@mixin scrollbarStyle {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #bdbaba;
  }
}

@mixin errorMessageStyle {
  padding-top: 0.25rem;
  width: 100%;
  color: rgb(242, 57, 57);
  font-size: 14px;
}
