// ***********
// Variables
// ***********
// - Color
$mainViewBgColor: #f3f3f3;

// - Font
$globalFontFamily: Arial, Helvetica, sans-serif;
$appHeadingFontSize: 20px;
$viewHeadingFontSize: 18px;

// ***********
// Mixins
// ***********
@mixin viewPadding {
  padding: 1.5rem 1rem;
}

@mixin viewHeading {
  font-size: $viewHeadingFontSize;
  padding-bottom: 1rem;
}
